<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hummer.hospital_heroes">
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/logo"
        android:label="@string/game_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Reception"
            android:noHistory="true"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".MainActivity"
            android:noHistory="true"/>
        <activity
            android:name=".cream_minigame.MainMenuForGame"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".cream_minigame.GameActivity"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".MainMenu"
            android:noHistory="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CharacterSelection"
            android:noHistory="true"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".FoodSelection"
            android:noHistory="true"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".InjectionRoom"
            android:noHistory="true"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".SittingChair"
            android:noHistory="true"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".food_minigame.MainGameActivity"
            android:noHistory="true"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".plate_minigame.PlateActivity"
            android:noHistory="true"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".WaitingRoom"
            android:noHistory="true"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".injection_minigame.InjectionMainActivity"
            android:noHistory="true"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".PreScan"
            android:noHistory="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ScanRoom"
            android:noHistory="true"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".StrapToChair"
            android:noHistory="true"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".rocket_minigame.MainMenu"
            android:noHistory="true"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".rocket_minigame.GameActivity"
            android:noHistory="true"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".injection_minigame.InjectionMainMenu"
            android:noHistory="true"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".EndScreen"
            android:noHistory="true"
            android:screenOrientation="landscape"/>

        <service
            android:name=".MusicService"
            android:stopWithTask="true"/>
    </application>

</manifest>