<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hummer.hospital_heroes">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.hummer.hospital_heroes.Reception"
            android:noHistory="true"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.hummer.hospital_heroes.MainActivity"
            android:noHistory="true"/>
        <activity android:name="com.hummer.hospital_heroes.cream_minigame.MainMenuForGame"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity android:name="com.hummer.hospital_heroes.cream_minigame.GameActivity"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name="com.hummer.hospital_heroes.MainMenu"
            android:noHistory="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hummer.hospital_heroes.CharacterSelection"
            android:noHistory="true"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.hummer.hospital_heroes.FoodSelection"
            android:noHistory="true"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.hummer.hospital_heroes.InjectionRoom"
            android:noHistory="true"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.hummer.hospital_heroes.SittingChair"
            android:noHistory="true"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.hummer.hospital_heroes.food_minigame.MainGameActivity"
            android:noHistory="true"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.hummer.hospital_heroes.plate_minigame.PlateActivity"
            android:noHistory="true"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.hummer.hospital_heroes.WaitingRoom"
            android:noHistory="true"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.hummer.hospital_heroes.injection_minigame.InjectionMainActivity"
            android:noHistory="true"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.hummer.hospital_heroes.PreScan"
            android:noHistory="true"
            android:screenOrientation="landscape"/>

        <activity android:name="com.hummer.hospital_heroes.injection_minigame.InjectionMainMenu" />

        <service
            android:name="com.hummer.hospital_heroes.MusicService"
            android:stopWithTask="true"/>
    </application>

</manifest>